################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/output/kursiokai.txt
/output/studentai10000.txt
/output/studentai100000.txt
/output/studentai1000000.txt
/Kietiakai.txt
/studentai10.txt
/studentai1000.txt
/studentai100000.txt
/studentai1000000.txt
/studentai10000000.txt
/Vargsiukai.txt
/.vs/testavimas
